html {
    margin: 0;
}

body {
    margin: 0;
    height: 100vh;
    background: url(../images/bg-contact.jpg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

header {
    margin: 20px 80px;
    padding: 0 30px;
    background: #f6e4e411;
    border-radius: 15px;

    a {
        color: rgb(250, 249, 244);
        font-weight: bold;
        text-decoration: none;
        text-shadow: 2px 0px 20px rgba(0, 0, 0, 0.98);
    }
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.img-logo {
    img {
        width: 100px;
    }
}

main {
    display: flex;
    justify-content: space-around;
}


/* Informations concernant l'école */
#contact-info-container {
    padding: 10px;
    width: 40%;
    box-shadow: 1px 1px 15px -5px #000000;
}


#contact-info .info-style {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
}


/* Formulaire de contact */
#contact-message-container {
    background: green;
    height: 550px;
    width: 400px;
    margin-right: 40px;
    text-align: center;
}

.name-input {
    display: flex;
    gap: 15px;

    input {
        width: 40%;
        height: 20px;
    }
}

.input-style {
    height: 25%;
    text-align: start;
    display: flex; flex-direction: column;
}

form {
    height: 100%;

}

.form-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}