body {
    margin: 0;
    font-family: helvetica,arial;
}

header {
    margin: 20px 80px;
    padding: 0 30px;
    background: #048abf;
    border-radius: 15px;

    a {
        color: rgb(250, 245, 244);
        font-weight: bold;
        text-decoration: none;
        text-shadow: 2px 0px 20px rgba(0, 0, 0, 0.98);
    }
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.img-logo {
    img {
        width: 100px;
    }
}

main {
    position: relative;
}

main h1 {
    margin-left: 100px;
    color: white;
}

.display-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    padding: 50px;
}

#form-container {
    position: relative;
}
.display-cards{
    margin: 0 50px;
}
#submitForm {
    position: absolute;
    top: -5%;
    left: 95%;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: 0;
    background: #a4b701;
    box-shadow: 2px 2px 12px -4px #048abf;
    display: flex;
    align-items: center;
}

#form-container {
    display: flex;
    justify-content: center;
    border: 2px solid #048abf3e;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input {
    padding: 7px;
    width: 80%;
    margin: 10px 0;
    border: 0.4px solid #001f2b;
    border-radius: 10px;
}

#deletePromo {
    position: absolute;
    left: 95%;
    top: -5%;
    border-radius: 50px;
    border-style: none;
    height: 40px;
    width: 40px;
    visibility: hidden;
    background: #F2CEA2;
    cursor: pointer;
    box-shadow: 2px 2px 12px -4px black
}

#updatePromo {
    position: absolute;
    left: 95%;
    top: 12%;
    border-radius: 50px;
    border-style: none;
    height: 40px;
    width: 40px;
    visibility: hidden;
    background: #0477BF;
    cursor: pointer;
    box-shadow: 2px 2px 12px -4px black
}


.cards {
    color: #001f2b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #048abf84;
    border-radius: 7px;
    width: calc(25% - 74px);
    height: 300px;
    position: relative;
    transition: 0.5s ease-in;
    box-shadow: 2px 2px 12px -4px #000000;
}

.cards h2 {
    padding: 20px 0;
    margin: 0;
    text-align: center;
    font-size: 2em;
    width: 100%;
}

.cards:hover #deletePromo {
    visibility: visible;
}

.cards:hover #updatePromo {
    visibility: visible;
}

.cards:hover {
    background: rgba(255, 255, 255, 0.107);
    box-shadow: 2px 2px 12px -1px #000000;
    
    h2, h3, p {
        transition: 0.2s ease-in;
        color: rgba(0, 0, 0, 0.052);
    }
}

.cards a {
    position: absolute;
    font-weight: bold;
    top: 45%;
    font-size: 1.5em;
    color: rgb(21, 118, 222);
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.cards a:hover {
    color: rgb(0, 95, 158);
    transition: 0.4s ease;
    cursor: pointer;
}

.cards:hover a {
    opacity: 1;
}


#modifier-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#modifier-form-container {
    width: 400px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#close {
    margin-bottom: 20px;
}


#modalo {
    background: red;
    padding: 20px 40px;
    z-index: 2;
    left: 50%;
    text-align: center;
}