body {
    background: red;
}

main {
    width: 100vh;
}

.display-cards {
    background: green;
}

.cards {
    display: flex;
    background: blue;
    width: 25%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}